<table class="wea_answer_confidence confidence">
	<tr>
		<td></td>
		<td colspan="2">
	        <span class="${north_confidence_percentage_class}">${confidence}%</span>
	        <span class="${north_confidence_level_class}">${confidence_level_display_val}</span>
	    </td>
	</tr>
	<tr>
		<td>
	        <span class="${west_confidence_percentage_class}">${confidence}%</span>
	        <span class="${west_confidence_level_class}">${confidence_level_display_val}</span>
	    </td>
		<td class="td">
	        <span class="bars" data-dojo-attach-point="confidenceBarAttach">
	        </span>
		</td>
		<td>
	        <span class="${east_confidence_percentage_class}">${confidence}%</span>
	        <span class="${east_confidence_level_class}">${confidence_level_display_val}</span>
	    </td>
    </tr>
    <tr>
    	<td></td>
		<td colspan="2">
	        <span class="${south_confidence_percentage_class}">${confidence}%</span>
	        <span class="${south_confidence_level_class}">${confidence_level_display_val}</span>
	    </td>
	</tr>
</table>
