<table class="wea_evidence_button">
	<tr>
		<td></td>
		<td>
	        <span class="${north_label_class}">${label}</span>
	       
	    </td>
	</tr>
	<tr>
		<td>
	        <span class="${west_label_class}">${label}</span>   
	    </td>
		<td class="td">
			<span class="evidence_button" data-dojo-attach-event="onclick:evidenceButtonClicked"></span>
		</td>
		<td>
	        <span class="${east_label_class}">${label}</span> 
	    </td>
    </tr>
    <tr>
    	<td></td>
		<td>
	        <span class="${south_label_class}">${label}</span>
	    </td>
	</tr>
</table>