<div class="deepqa progress_div">
	<table class="progressDivClass" cellspacing="0" cellpadding="0">
		<tr class="progressDivTopRowClass">
			<td class="left">
				<span class="progressBackground topLeft"></span>
			</td>
			<td>
				<span class="progressBackground topCenter"></span>
			</td>
			<td class="right">
				<span class="progressBackground topRight"></span>
			</td>	
		</tr>
		<tr class="progressDevCenterRowClass">
			<td class="left centerLeft">
			</td>
			<td class="center">
				    <div class="in_progress">
				        <span class="highlight"></span>
				        <div dojoAttachPoint="animationDiv" class="animation"></div>
				        <div dojoAttachPoint="status_message_field"></div>
				        <div class="indicator"></div>
				    </div>
				    <div>
				    	<table data-dojo-attach-event="onclick:cancelMonitor" class="cancel cancelButton" cellspacing="0" cellpadding="0">
				     		<tr>
				     			<td>
				     				<span class="left_border"></span>
				     			</td>	
				     			<td class="in_progress_cell">
				     				<span class="in_progress">
				     			    	Cancel
							        </span>
							    </td>
							    <td> 
				        			<span class="right_border"></span>
				        		</td>	
				        	</tr>
				        </table>
				    </div>
			</td>
			<td class="right centerRight"> 
		    </td>
		</tr>
		<tr class="progressDivBottomRowClass">
			<td class="left">
				<span class="progressBackground  bottomLeft"></span>
			</td>
			<td>	
				<span class="progressBackground  bottomCenter"></span>
			</td>
			<td class="right">
				<span class="progressBackground  bottomRight"></span>
			</td>	
		</tr>		
	</table>
</div>
