<table class="wea_rating_system">
	<tr>
		<td></td>
		<td colspan="2">
	        <span class="${north_label_class}">${ratingLabel}</span>
	       
	    </td>
	</tr>
	<tr>
		<td>
	        <span class="${west_label_class}">${ratingLabel}</span>   
	    </td>
		<td class="td">
	         <div class="dojoxRating">
				<input type="hidden" value="0" dojoAttachPoint="focusNode" />
				<ul>${stars}</ul>
			</div>
		</td>
		<td>
	        <span class="${east_label_class}">${ratingLabel}</span> 
	    </td>
    </tr>
    <tr>
    	<td></td>
		<td colspan="2">
	        <span class="${south_label_class}">${ratingLabel}</span>
	    </td>
	</tr>
</table>