FORMAT: 1A
HOST: https://watson-wdc01.ihost.com

# Watson API
Use the IBM Watson Question and Answer REST service to submit questions and retrieve answers.

# Group Questions
Question-related resources

## Questions Collection [/instance/507/deepqa/v1/question]

### Create a Question [POST]
Post a question for Watson so that you can receive an answer.

#### Headers

Name          | Required | Description
------------- | -------- | -----------
Accept        | No       | Specifies the format of the response. Must match Content-Type. Either `application/json` or `application/xml`.
Content-Type  | Yes      | Specifies the format of the request. Must match Accept. Either `application/json` or `application/xml`.
X-SyncTimeout | Yes      | Number of seconds to wait before request times out. `-1` means unlimited.

#### Question Parameters

Name            | Type | Description
--------------- | -------- | -----------
answerAssertion |       | No       | Specifies the format of the response. Must match Content-Type. Either `application/json` or `application/xml`.
category
context
evidenceRequest |
filters
formattedAnswer
items
lat
passthru
questionText
synonymList

#### Filter Parameters

Name            | Type | Description
--------------- | -------- | -----------
answerAssertion |       | No       | Specifies the format of the response. Must match Content-Type. Either `application/json` or `application/xml`.

+ Request (application/json)

    + Headers
    
            Accept: application/json
            X-SyncTimeout: 30
        
    + Body

            {
                "question": {
                    "questionText": "His 1983 hit \"Beat it\" featured Eddie Van Halen on guitar."
                }
            }

+ Response 200 (application/json)

        {
            "question": {
                "qclasslist": [
                    {
                    "value": "FACTOID" 
                    }
                ],
                "focuslist": [
                    {
                        "value": "His"
                    }
                ],
                "latlist": [
                    {
                        "value": "he"
                    }
                ],
                "pipelineid": "433259107",
                "category": "",
                "items": 5,
                "status": "Complete",
                "id": "AE71A54A2BED4AE7BAAEEA98764ECB47",
                "questionText": "His 1983 hit \"Beat it\" featured Eddie Van Halen on guitar.", 
                "evidenceRequest": {
                    "items": -1,
                    "profile": "NO" 
                },
                "answers": [ 
                    {
                        "id": 0,
                        "text": "Michael Jackson", "confidence": 0.42276
                    }, 
                    {
                        "id": 1,
                        "text": "Rick Derringer",
                        "confidence": 0.22121
                    }, 
                    {
                        "id": 2,
                        "text": "Thriller", "confidence": 0.12293
                    }, 
                    {
                        "id": 3,
                        "text": "Jeff Porcaro", "confidence": 0.09981
                    },
                    {
                        "id": 4,
                        "text": "Quincy Jones", "confidence": 0.05383
                    }
                ],  
                "errorNotifications": [],
                "passthru": ""
            }
        }
