<div class="${baseClass}" 
     data-dojo-attach-event="onmouseover:_onTabMouseOver,onmouseout:_onTabMouseOut,ondijitclick:_onTabSelect"
     data-dojo-attach-point="focusNode" role="presentation" wairole="presentation">
<div class="${baseClass}Title" data-dojo-attach-point="tabNode,titleNode" id="${id}_titleNode"
   role="tab" wairole="tab" aria-selected="false" tabindex="0"
   data-dojo-attach-event="onmouseover:_onTabMouseOver,onmouseout:_onTabMouseOut,onClick:_onTabSelect,onFocus:_onTabMouseOver,onBlur:_onTabMouseOut"></div>
</div>
