<table class="answerTable">
	<tr class="answerRow">
		<td class="answerCell">
			<table class="answerTextTable">
				<tr class="answerTextTableRow">
					<td class="answerConfidenceCell">
						<div data-dojo-type="com.ibm.watson.ui.ConfidenceBar" data-dojo-props="confidence:${confidenceValue},displayLevel:'south',displayPercentage:'west'"></div>
					</td>
					<td class="answerTextCell">
						<span class="offerHeader">${answerTitle}</span>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	${evidenceRows}
</table>