<div class="idxDateTimeTextBox dijitInline"
	><div class="idxLabel" dojoAttachPoint="labelWrap"><span class="idxRequiredIcon">*&nbsp;</span><label data-dojo-attach-point="compLabelNode"></label></div
	><div data-dojo-attach-point="dateTextBox" data-dojo-type="idx.form.DateTextBox" data-dojo-props='
		hint: "${dateHint}",
		hintPosition: "inside",
		showPickerIcon: ${showPickerIcon}
	'></div
	><div data-dojo-attach-point="timeTextBox" data-dojo-type="idx.form.TimeTextBox" data-dojo-props='
		hint: "${timeHint}",
		hintPosition: "inside",
		showPickerIcon: ${showPickerIcon}
	'></div
	><input type="hidden" data-dojo-attach-point="focusNode"></input
></div>