<div class="${baseClass}"
><div data-dojo-type="idx/form/Link" class="${baseClass}EditLink"
      data-dojo-attach-point="_editLink">${editLabel}</div
><div data-dojo-type="idx/layout/ButtonBar" data-dojo-attach-point="_buttonBar"
      class="${baseClass}ButtonBar"
><div data-dojo-type="dijit/form/Button" data-dojo-attach-point="_saveButton">${saveLabel}</div
><div data-dojo-type="dijit/form/Button" data-dojo-props="placement: 'secondary'" data-dojo-attach-point="_cancelButton">${cancelLabel}</div
></div>
</div>
