<div class="${baseClass}" data-dojo-attach-event="onfocus:_onFocus">
<div data-dojo-type="dijit/form/DropDownButton" data-dojo-attach-point="_button" data-dojo-attach-event="onMouseEnter:_handleMouseOver,onMouseLeave:_handleMouseOut"
><div tabindex="0" data-dojo-type="idx/widget/TooltipDialog" data-dojo-props="idxExtraClasses:'${baseClass}_TooltipDialog'" data-dojo-attach-point="_dialog" data-dojo-attach-event="onMouseEnter:_handleMouseOver,onMouseLeave:_handleMouseOut"
><div tabindex="0" id="${id}_wrapper" aria-labelledby="${id}_message" class="${baseClass}InfoWrapper" data-dojo-attach-point="_wrapper"
><div id="${id}_message" class="${baseClass}Message" data-dojo-attach-point="_messageNode,containerNode"
></div><div class="${baseClass}Link" data-dojo-attach-point="_linkNode"
><a tabindex="0" class="${baseClass}Link" target="_blank" data-dojo-attach-point="_anchorNode"
></a></div></div></div></div></div>
