<div class="idxHeaderPane" role="region" wairole="region" aria-labelledby="${id}_Title"
><div class="idxHeaderFrame" data-dojo-attach-point="_frameNode"
><div class="idxHeaderPaneHeader" data-dojo-attach-point="_headerNode"
><div class="idxHeaderPaneA11y"
><span id="${id}_contentTitle" data-dojo-attach-point="_contentTitleNode"></span
></div><div class="idxHeaderPaneTitleBar"  data-dojo-attach-point="_headerTitleNode"
><div data-dojo-attach-point="_leadingTitleNode"
></div><div data-dojo-attach-point="_trailingTitleNode"
></div></div><div class="idxHeaderPaneSpacer" data-dojo-attach-point="_headerSpacerNode"
></div><div class="idxHeaderPaneActions" data-dojo-attach-point="_headerActionsNode"
><div data-dojo-attach-point="_leadingActionsNode"
></div><div data-dojo-attach-point="_trailingActionsNode"
></div></div></div><div class="idxHeaderPaneContent" data-dojo-attach-point="containerNode" tabindex="${tabIndex}" 
						role="region" wairole="region" aria-labelledby="${id}_contentTitle"
></div></div></div>
