/* ***************************************************************** */
/*                                                                   */
/* Licensed Materials - Property of IBM                              */
/*                                                                   */
/* (C) Copyright IBM Corp. 2001, 2013. All Rights Reserved.          */
/*                                                                   */
/* US Government Users Restricted Rights - Use, duplication or       */
/* disclosure restricted by GSA ADP Schedule Contract with IBM Corp. */
/*                                                                   */
/* ***************************************************************** */

.previousQuesions{
	font-size: 15px;
	font-weight: normal;
	margin-bottom:10px;
	height:300px;
	width:300px;
}

#questionHistoryGrid {
	height: 200px;
	width: 100%;
} 